@charset "utf-8";

/* 全体設定
sp------------------------------------------------ */
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: auto;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

a {
    text-decoration: none;
    color: #121212;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 80px 16px;
}

.text-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.card-title {
    font-size: 0.75rem;
    font-weight: 300;
    text-align: left;
}

.card-text {
    font-weight: 600;
    line-height: 24.5px;
}

.card-date {
    font-size: 0.75rem;
    font-weight: 300;
    text-align: right;
}

/* 全体設定
pc------------------------------------------------ */

@media screen and (min-width:600px) {
    .wrapper {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        padding: 50px 16px;
    }

    .text-title {
        font-size: 2.25rem;
    }
}

/* header
sp -------------------------------------------------- */

#header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    padding: 20px 16px;
}

#header-nav {
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background-color: #000;
    padding: 60px 25px;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 20;
    opacity: 0;
}

#header-nav .nav-menu {
    margin-bottom: 60px;
}

#header-nav a {
    color: #fff;
}

#header-nav .nav-menu li {
    border-top: 1px solid #fff;
    padding: 20px 0;
}

#header-nav .nav-menu li:last-of-type {
    border-bottom: 1px solid #fff;
}

#header-nav .sns-menu li {
    margin-bottom: 10px;
}

.open #header-nav {
    left: 0;
    opacity: 1;
}

.toggle-button {
    width: 30px;
    height: 30px;
    position: fixed;
    transition: 0.5s;
    cursor: pointer;
    top: 22px;
    right: 18px;
    z-index: 20;
}

.toggle-button span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #121212;
    border-radius: 4px;
    transition: 0.5s;
    left: 0;
}

.toggle-button span:nth-child(1) {
    top: 4px;
}

.toggle-button span:nth-child(2) {
    top: 14px;
}

.toggle-button span:nth-child(3) {
    bottom: 4px;
}

.open .toggle-button span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle-button span:nth-child(2) {
    opacity: 0;
}

.open .toggle-button span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}

.open .toggle-button span {
    background-color: #121212;
}

/* header
pc -------------------------------------------------- */

@media screen and (min-width:600px) {
    #header {
        padding: 20px 40px;
    }
}

/* pickup
sp -------------------------------------------------- */

.video-background video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#pickup {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-top: 70px;

}

#pickup .text-title {
    margin-bottom: 20px;
}

.pickup-slider {
    font-size: 0;
}

.pickup-slider li {
    padding: 0 30px;
}

/* pickup
pc -------------------------------------------------- */

@media screen and (min-width:600px) {
    .video-background video {
        height: 120vh;
        max-height: 960px;
    }

    #pickup {
        padding-top: 100px;

    }

    #pickup .text-title {
        margin-bottom: 30px;
    }
}

/* feature
sp -------------------------------------------------- */
#feature {
    width: 100%;
    height: auto;
    background-color: #fff;
}

#feature .text-title {
    margin: 20px 0;
}

.card {
    width: 100%;
    /* カードの幅 */
    border: 1px solid #ccc;
    /* 枠線 */
    overflow: hidden;
    /* はみ出した部分を隠す */
    box-shadow: 0 0 8px 4px rgba(204, 204, 204, 1);
    /* 影 */
    background-color: #fff;
    margin-bottom: 25px;
}

.card:last-of-type {
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: auto;
    /* アスペクト比を保つ */
    display: block;
}

.fadein {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
}

.card-content {
    padding: 16px;
}

.card-content .card-text {
    margin: 20px 0;
}

/* feature
pc -------------------------------------------------- */

@media screen and (min-width:600px) {
    #feature .text-title {
        margin: 50px 0 30px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 27px;
        row-gap: 25px;
        align-items: start;
        margin-bottom: 10px;
    }

    .card {
        margin-bottom: 0;
    }

    .card:last-of-type {
        margin-bottom: 0;
    }
}

/* contact
sp -------------------------------------------------- */

#contact {
    width: 100%;
    height: auto;
    background-color: #000;
    color: #fff;
}

.contact-text-box {
    margin: 20px 0 30px;
}

.contact-text-box p {
    margin-bottom: 30px;
    line-height: 24.5px;
}

.contact-text-box p:last-of-type {
    margin-bottom: 0;
}

.contact-form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 15px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #fff;
}

.send-button {
    margin-top: 20px;
    padding: 12px 0;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
}

.send-button:hover {
    background-color: #fff;
    color: #000;
}

/* contact
pc -------------------------------------------------- */

@media screen and (min-width:600px) {
    .contact-container {
        display: flex;
        justify-content: space-between;
    }

    .contact-text-box {
        width: 45%;
    }

    .contact-form {
        width: 45%;
        margin: 0;
    }

    .send-button {
        width: 200px;
    }
}

/* footer
sp -------------------------------------------------- */
#footer {
    width: 100%;
    height: auto;
    background-color: #000;
    padding: 10px 0 5px;
}

.footer-small {
    text-align: center;
}

.footer-small small {
    font-size: 0.75rem;
    font-weight: 300;
    color: #fff;
}