@charset "utf-8";

/* 全体設定
-------------------------------------- */
* {
    box-sizing: border-box;
}

html {
    background-color: #e6e2d7;
}

body {
    font-family: "Noto Serif JP", sans-serif;
    letter-spacing: auto;
    line-height: auto;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    background: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

.text-big {
    font-size: 28px;
    font-weight: 500;
}

.textl {
    font-size: 24px;
    font-weight: 500;
}

.textm {
    font-size: 16px;
    font-weight: 400;
}

.texts {
    font-size: 14px;
    font-weight: 400;
}

.textxs {
    font-size: 12px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.text_pc {
    display: none;
}

@media screen and (min-width:768px) {
    .text-big {
        font-size: 36px;
    }

    .textl {
        font-size: 32px;
    }

    .text_pc {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin-top: 18px;
    }
}

/* header
sp -------------------------------------------- */

header {
    width: 100vw;
    height: 600px;
    background: url(../IMG_Store1/main-bg_sp.png) no-repeat;
    background-position: center;
    background-size: cover;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: relative;
}

.header-logo {
    padding: 10px;
    margin: 10px;
}

.header-nav .textm:first-child {
    margin-right: 50px;
}

.header-nav .textm {
    margin-top: 20px;
    margin-left: 20px;
}

.header-nav ul li a {
    color: #fff;
}

.header-button {
    position: absolute;
    background-color: #333;
    left: 20px;
    bottom: 20px;
    width: 68px;
    height: 252px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.inner-box {
    width: 52px;
    height: 236px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-button .textm {
    color: #fff;
    text-decoration: none;
    padding: 30px 18px;
    white-space: nowrap;
    text-align: center;
}

/* header
pc -------------------------------------------- */
@media screen and (min-width:768px) {
    header {
        background: url(../IMG_Store1/main-bg_pc.png) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .header-logo {
        padding: 30px;
        margin: 30px 50px 30px 10px;
    }

    .header-nav .textm:first-child {
        margin-right: 30px;
    }

    .header-nav .textm {
        margin-top: 60px;
        margin-left: 25px;
    }

    .header-button {
        left: 40px;
        bottom: 40px;
    }
}

/* main
ここから -------------------------------------------- */


/* News
sp -------------------------------------------- */

.news {
    width: 100%;
    height: auto;
    writing-mode: vertical-rl;
    padding: 40px 0;
}

.news-title {
    margin: 40px 0;
}

.news-content {
    margin: 60px 20px 0;
    white-space: nowrap;
}

.pc_only {
    display: none;
}

.news-content .textxs {
    border-right: 1px solid #000;
    padding-right: 12px;
    padding-top: 15px;
    margin-left: 0;
}

.news-content .textm {
    font-weight: 500;
    padding: 15px 0 15px 12px;
}

.sp_last {
    border-left: 1px solid #000;
}


/* News
pc -------------------------------------------- */

@media screen and (min-width:768px) {
    .news {
        writing-mode: vertical-rl;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .news-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 220px 100px 100px 0;
        margin-left: auto;
        /* コンテンツを右寄せ */
    }

    .news-title {
        margin: 140px 0;
        margin-left: auto;
        /* タイトルを右寄せ */
    }

    .pc_only {
        display: block;
    }

    .news-content .textxs {
        border-right: 1px solid #000;
        padding-right: 30px;
        padding-top: 15px;
        margin-left: 0;
    }

    .news-content .textm {
        font-weight: 500;
        padding: 15px 0 15px 30px;
    }

    .sp_last {
        border-left: none;
    }

    .pc_last {
        border-left: 1px solid #000;
    }
}

/* lead-1
sp -------------------------------------------- */

.lead-1 {
    width: 100vw;
    height: auto;
    background-color: #e6e2d7;
    writing-mode: vertical-rl;
    padding: 40px 0;
}

.lead-1-image-container_sp {
    width: 90%;
    position: relative;
    display: inline-block;
    margin: 70px 5px 0 0;
}

.lead-1-image-container_sp img {
    display: block;
    width: 100%;
    height: auto;
}

.lead-1-image-container_pc {
    display: none;
}

.lead-1-overlay {
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: 63.8%;
    height: 50%;
    background-color: rgba(249, 233, 6, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.lead-1-overlay .texts {
    font-weight: 500;
    color: #fff;
    writing-mode: horizontal-tb;
    font-size: 16px;
    text-align: left;
    white-space: nowrap;
}

/* lead-1
pc -------------------------------------------- */

@media screen and (min-width:768px) {
    .lead-1 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .lead-1-image-container_sp {
        display: none;
    }

    .lead-1-image-container_pc {
        display: block;
        width: 65%;
        position: relative;
        display: inline-block;
        margin: 100px 10px 0 0;
    }

    .lead-1-image-container_pc img {
        display: block;
        width: 100%;
        height: auto;
    }

    .lead-1-overlay {
        width: 56.03%;
        height: 34.27%;
    }
}

/* lead-2
sp -------------------------------------------- */

.lead-2 {
    width: 100vw;
    height: auto;
    background-color: #e6e2d7;
    writing-mode: vertical-rl;
    padding: 40px 0;
}

.lead-2 .wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.lead-2-title {
    margin-top: 20px;
}

.lead-2-image-container_sp {
    width: 90%;
    position: relative;
    display: inline-block;
    margin: 70px 5px 60px 0;
}

.lead-2-image-container_sp img {
    display: block;
    width: 100%;
    height: auto;
}

.lead-2-image-container_pc {
    display: none;
}

.lead-2-overlay {
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 63.8%;
    height: 50%;
    background-color: rgba(149, 42, 38, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.lead-2-overlay .texts {
    font-weight: 500;
    color: #fff;
    writing-mode: horizontal-tb;
    font-size: 16px;
    text-align: left;
    white-space: nowrap;
}

/* lead-2
pc -------------------------------------------- */

@media screen and (min-width:768px) {
    .lead-2 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .lead-2-image-container_sp {
        display: none;
    }

    .lead-2-image-container_pc {
        display: block;
        width: 65%;
        position: relative;
        display: inline-block;
        margin: 100px 10px 140px 0;
    }

    .lead-2-image-container_pc img {
        display: block;
        width: 100%;
        height: auto;
    }

    .lead-2-overlay {
        width: 56.03%;
        height: 34.27%;
    }
}

/* google-map
sp pc-------------------------------------------- */

.google-map {
    width: 100%;
    display: flex;
    justify-content: center;
}

.map-container {
    width: 100vw;
    height: 450px;
    position: relative;
}

.map-container iframe {
    width: 100vw;
    height: 100%;
    border: 0;
}

/* footer
sp -------------------------------------------- */

footer {
    width: 100vw;
    height: auto;
    background-color: #000;
    writing-mode: vertical-rl;
    padding: 40px 0 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-address {
    color: #fff;
    margin: 0 25px;
    white-space: nowrap;
}

.footer-address .texts:first-child {
    margin-left: 14px;
}

.footer-nav .texts {
    color: #fff;
}

.footer-leading {
    position: absolute;
    left: 20px;
}

.footer-leading .texts {
    color: #fff;
}

.footer-small {
    display: block;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    writing-mode: horizontal-tb;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* footer
pc -------------------------------------------- */
@media screen and (min-width:768px) {
    footer {
        padding: 80px 0 54px;
    }

    .footer-logo {
        margin-right: 60px;
    }

    .footer-address {
        margin: 0 60px;
    }

    .footer-nav ul li {
        margin-left: 25px;
    }

    .footer-nav .texts {
        font-size: 16px;
    }

    .footer-leading {
        left: 30px;
    }

    .footer-small {
        bottom: 32px;
    }
}